body {
    background-color: black;
}

h2 {
    margin-top: 20px;
    color: rgb(251, 248, 196);
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn {
    font-weight: 700;
}

button {
    margin: 50px 20px;
    background-color: rgb(251, 248, 196) !important;
    border: rgb(251, 248, 196) !important;
}


