#navbaricon {
    float: left; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 17px; 
    width: 17px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0; 
    width: 100%;
}

.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.3s;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.body {
    background-image: url("nuvens.jpg!d");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: Verdana; 
    font-size: 20px;
    color: yellow;
    text-align: center;
}

.descvideo {
    align-content: center;
}

.video {
    width: 420;
    height: 315;
}

.paragrafo {
    background-color: rgba(241, 111, 241, 0.551);
    font-size: 14px;
}

.botao {
    padding: 10px;
    border: 2px solid black;
    border-radius: 12px;
    border-top: 20px;
    background-color: rgba(241, 111, 241, 0.551);;
}

.container {
    text-align: justify;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer {
   position: relative;
   background-color: #333;
   width: 100%;
   color: white;
   text-align: center;
   margin-bottom: 0;
   margin-left: 0;
   margin-right: 0;
}


