h1 {
    font-family: Verdana; 
    font-size: 20px;
    color: brown;
    text-align: center;
}

.paragrafo {
    background-color: yellow;
    font-size: 14px;
}

.botao {
    padding: 10px;
    border: 2px solid black;
    border-radius: 12px;
    border-top: 20px;
}

.body {
    background-image: url("nuvens.jpg!d");
    background-repeat: no-repeat;
    background-size: cover;
}