.cachorro {
  object-fit: fill
}

.onca {
  height: 600px;
}

.pinguim {
  object-fit: fill
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}