<h1>Mad Men</h1>

<div class="container">
    <div *ngFor="let temporada of temporadas" class="card text-center mb-3 mb-3" style="width: 18rem;">
    <img src="{{ temporada.tumbnail }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ temporada.numeroTemporada }}</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Episódios: {{ temporada.numeroEpisodios }}</li>
                <li class="list-group-item">Ano: {{ temporada.ano }}</li>
            </ul>
        </div>
    </div>
</div>
