<div id="container">
  <div id="1"><img src="../../../assets/images/tux.png" id="tux" alt="tux"></div>
  <div id="2"><img src="../../../assets/images/tuxjedi.png" id="tuxjedi" alt="tux-jedi"></div>
  <div id="3"><img src="../../../assets/images/tuxbrasil.png" id="tuxbrasil" alt="tux-brasil"></div>
  <div id="4"><img src="../../../assets/images/tuxrambo.png" id="tuxrambo" alt="tux-rambo"></div>
  <div id="5"><img src="../../../assets/images/ubuntu.png" id="ubuntu" alt="ubuntu"></div>
  <div id="btns">
    <div><button id="btnPrimeiro" type="button" class="btn btn-outline-primary"><<</button></div>
    <div><button id="btnAnterior" type="button" class="btn btn-outline-primary"><</button></div>
    <div><button id="btnProximo" type="button" class="btn btn-outline-primary">></button></div>
    <div><button id="btnUltimo" type="button" class="btn btn-outline-primary">>></button></div>
  </div>
</div>
