<div class="container">
  <span *ngFor="let x of personagens">
      <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img [src]="x.avatar" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{x.nome}}</h5>
                <p class="card-text">{{x.habilidade}}</p>
                <p class="card-text"><small class="text-muted">Planeta de origem: {{x.planeta}}</small></p>
                <p class="card-text"><small class="text-muted">Armas: {{x.armas}}</small></p>
              </div>
            </div>
          </div>
        </div>
  </span>
</div>